// Colores
$background-color: #f0f0f0;
$primary-color: #122828;
$hover-color: #4c7d7d;

// Fuentes
$font-family-jost: 'Jost', sans-serif;

// Otros
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 01, 0.2);
